* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap {
    width: 100%;
}
.wrap .row {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
.wrap .row .box {
    height: 200px;
    border: 1px solid #000;
    background-color: darkblue;
    flex-grow: 1;
}
.wrap .row:nth-child(1) .box:nth-child(2) {
    flex-grow: 2
}
.wrap .row:nth-child(2) .box:nth-child(1) {
    height: 400px;
}