* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    background-color: #1d1d1d;
}

.wrap .row {
    padding: 1rem;
    font-size: 8.3rem;
    font-family: fantasy;
    text-transform: uppercase;
    color: white;
}

.row span {
    display: inline-block;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.row span:hover {
    color: #08fdd8;
    animation: test 1s linear 1;
}

@keyframes test {
    0% {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.1,.8);
    }
    50% {
        transform: scale(1.3,.7);
    }
    60% {
        transform: scale(.9, 1.2);
    }
    70% {
        transform: scale(1.1, .85);
    }
    80% {
        transform: scale(1, 1.1);
    }
    90% {
        transform: scale(1.05, .9);
    }
    100% {
        transform: scale(1, 1);
    }
    
}
