.shop {
  text-align: center;
  width: 85%;
  margin: auto;
  .figure {
    .shop__header {
      margin: 1rem 0;
      &-logo {
        @include shopTitle($black, 0.7rem);
      }
      &-title {
        @include commonHeader($mainColor, 2.2rem, $playfair, $borderColor);
        @include headerBorder;
        @media (min-width: 992px) {
          font-size: 4rem;
        }
      }
      &-desc {
        @include commonBtn($mainColor, 1.3rem, $alice);
      }
    }
    .product {
      &__item {
        &-img {
          img {
            width: 100%;
          }
        }
        &-title {
          @include commonHeader($mainColor, 2.2rem, $playfair, $borderColor);
          margin-top: 1rem;
          div {
            font-size: 1.35rem;
          }
          @media (min-width: 992px) {
            display: none;
          }
        }
        &-btn {
          @include commonBtn($mainColor, 2.2rem, $sacramento);
          margin: 1rem 0 4rem 0;
          @media (min-width: 992px) {
            display: none;
          }
        }
        @media (min-width: 992px) {
          flex-basis: 33%;
        }
      }
      @media (min-width: 992px) {
        @include flex(row, center, center, 3rem);
        position: relative;
      }
    }
    @media (min-width: 992px) {
      display: block;
      width: 100%;
      height: 100vh;
    }
  }
}
