* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 976px;
  margin: 0 auto;
}
.carousel video {
  width: 100%;
}
.redorange {
  color: #fd3e0a;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: rem;
}
.w30 {
  width: 30%;
}
button {
  font-size: 1rem;
}
.header {
  width: 100%;
  height: 57px;
  border-bottom: solid 1px #cfd4d8;
}
.header-icon {
  width: 150px;
}
.header-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.header-nav li {
  margin-left: 15px;
}
ul.header-nav li a {
  color: #5f717d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.download {
  justify-content: center;
  margin: 20px 0;
  gap: 3.5rem;
}
.download button {
  background: black;
  width: 250px;
  border-color: dimgrey;
  border-radius: 100px;
  color: white;
  padding: 10px 30px;
  justify-content: center;
  gap: 5px;
}

.download button img {
  height: 20px;
  margin-top: -5px;
}
.subtitle {
  margin: 20px 0;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.8px;
  font-weight: 600;
  color: #293c43;
  justify-content: center;
  position: relative;
}
.subtitle::after {
  content: "";
  background-color: #ff6600;
  background-image: linear-gradient(302deg, #ff6600 46%, #f93702 100%);
  height: 8px;
  width: 200px;
  border-radius: 50px;
  text-align: center;
  position: absolute;
  top: 56px;
}
.statistics {
  margin: 5.5rem 0 2.5rem 0;
  gap: 5rem;
}
.statistic-box_icon img {
  width: 100px;
  height: 100px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.statistic-box {
  text-align: center;
}
.statistic-box h1 {
  font-size: 44px;
  line-height: 56px;
  color: #293c43;
  margin-bottom: 0.5rem;
}
.statistic-box h4 {
  font-size: 19px;
  line-height: 24px;
  color: #293c43 ;
  margin-bottom: 0.5rem;
}
.statistic-box h5 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #293c43;
}
.statistic-box p {
  font-size: 14px;
  line-height: 20px;
  color: #5f717d;
}
.subheader {
  text-align: center;
  margin: 4rem 0 2em 0;
  font-size: 17px;
  letter-spacing: 0.8px;
  color: #293c43;
  font-weight: 300;
}

.bg-image {
  background-image: url(https://lend.mn/image/videos/10.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 10px;
}
.minusmg {
  margin: 3rem 0 2.5rem 0;
}
.p40 {
  padding: 40px 0;
}
.pb40 {
  padding-bottom: 40px;
}
.con-btn {
  justify-content: center;
}
.con-btn button {
  cursor: pointer;
  background: transparent;
  border-color: #ff6600;
  border-radius: 50px;
  width: 33%;
  color: #ff6600;
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0.375rem 0.75rem;
  height: 40px;
  justify-content: center;
}

.con-btn button:hover {
  background-color: #ff6600;
  border-radius: 50px;
  width: 33%;
  color: white;
  border-width: 2px;
  opacity: 1;
  transition: 0.4s;
}
.featuredpost {
  background-color: #f2f2f2;
  justify-content: space-evenly;
}
.featuredpost .featured img {
  height: 70px;
}
.news-wrap {
  gap: 2rem;
  margin-bottom: 20px;
}
.news-wrap .news {
  border-radius: 0.25rem;
}
.news .thumbnail {
  height: 200px;
}

.news .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-body {
  background-color: #f2f2f2;
  padding: 1.25rem;
}
.news-body .card-title {
  background-color: #f2f2f2;
  padding: 1.25rem 0;
  font-size: large;
}
.news-body p {
  color: #5f717d;
}
.news-body a {
  color: #ff6600;
  font-weight: 600;
  font-size: 12px;
}

.awards {
  width: 100%;
  background-image: url(https://lend.mn/image/headerimg/ipoheader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 315px;
  border-radius: 10px;
  padding: 20px 0;
  background-size: cover;
}
.awards .subtitle {
  color: #fff;
}
.awards .subheader {
  color: #fff;
}
.award img {
  height: 98px;
}
.awardposts {
  justify-content: center;
}
.footer {
  background-color: #f2f2f2;
}
.footer-wrap {
  padding-top: 40px;
  align-items: flex-start;
}
.about ul li {
  list-style: none;
  font-size: 14px;
  color: #5f717d;
}
.about ul li:first-child {
  font-weight: 600;
}
.footerlinks {
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
  font-size: larger;
}
.copyright {
  text-align: center;
  color: #5f717d;
  padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .container {   
    width: 100%;
  }

  .statistics, .footer-wrap, .news-wrap {
    flex-wrap: wrap;
  }

  .subtitle {
    font-size: 20px;
  }

  .about {
    flex: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .download {
    gap: 10px;
    flex-wrap: wrap;
  }
}