.header {
  width: 100%;
  background-color: $white;
  height: 100vh;
  background: url(https://amjilt.com/landing-assets/upload/background-slider-app.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}