@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$black: #000;
$white: #fff;
$hover: #2C99ED;
$mainColor: #0b78e3;
$borderColor: #ffffff75;
$greyColor: #2A2F35;
$bg: #2C99ED;
$caption: #0074ff;

$nunito: 'Nunito', sans-serif;